@import "tailwindcss";

:root {
  /* Brand Colors */
  --primary-color: #2C3E50;       /* Dark slate blue */
  --secondary-color: #F39C12;     /* Orange */
  --accent-color: #27AE60;        /* Green */
  --neutral-bg: #F8F9FA;      /* Light gray background */
  /* Text */
  --primary-text-color: #343A40;          /* Dark gray (primary text) */
  --body-text-color: #555555;    /* Muted blue-gray (secondary text) */
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  --font-open-sans: var(--font-open-sans);
  --font-nunito-sans: var(--font-nunito-sans);
}

/* Apply the fonts to specific elements */
body {
  /* Set a default font for the entire body */
  font-family: var(--font-open-sans); 
}

h1, h2, h3 {
  /* Use a different font for headings */
  font-family: var(--font-montserrat);
}

.special-section {
  /* Use Poppins for a specific component */
  font-family: var(--font-poppins);
}

.button-text {
  /* Use Nunito Sans for buttons */
  font-family: var(--font-nunito-sans);
}